!!! 5 iso-8859-1
%html{:lang => "en"}
	%head
		%title #{@item[:title] ? @item[:title] + " -" : ""} #{@config[:title]}
		%link{:rel => "icon", :type => "image/png", :href => "/images/logo.png"}
		%link{:href => "/style/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "/style/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
		<!--[if lt IE 8]>
		%link{:href => "/style/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
		<![endif]-->
		%script(language="javascript" type="text/javascript" src="/js/jquery.js")
		%script(language="javascript" type="text/javascript" src="/js/addons.js")
	%body.bp
		#header
			= render 'partials/header'
		#container
			= yield
		#footer
			= render 'partials/footer'
		= render 'partials/analytics'
